/[Dd]ebug/
[Dd]ebugPublic/
/[Rr]elease/
[Rr]eleases/
[Pp]ublish/
[Pp]roperties/
[Pp]ackage/
x64/
x86/
build/
winbuild/
bld/
[Bb]in/
[Oo]bj/
.vs/
*.vcxproj.user
.vscode
/dockerbuild
.idea/*
/CS2Fixes.VC.db
*.log
*.pyc
/configs/maplist.cfg
/configs/admins.cfg
/data/infractions.txt
